<div ddFlexbox="hyscsw">

  <div ddFlexbox="vys">
    <mat-list class="mat-list-auto-height">
      <h3 mat-subheader>Debug</h3>
      <mat-list-item>
        <mat-checkbox [checked]="viewDebug$ | async" (change)="onSetViewDebug($event.checked)">Debug View</mat-checkbox>
      </mat-list-item>
    </mat-list>

    <mat-list class="mat-list-auto-height">
      <h3 mat-subheader>Scene</h3>
      <mat-list-item>
        <div ddFlexbox="hyc">
          <label mat-line>Size:</label>
          <mat-slider [max]="factorMax$ | async" [min]="factorMin$ | async" [step]=".1" [value]="factor$ | async" [thumbLabel]="true"
            (change)="onSetFactor($event.value)"></mat-slider>
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field *ngIf="renderers$ | async as renderers">
          <mat-select #renderer placeholder="Renderer" [ngModel]="renderer$ | async"
            (valueChange)="onSetRenderer($event); renderer.value = null;">
            <mat-option [value]="null">-</mat-option>
            <mat-option *ngFor="let key of renderers; trackBy: trackByIndex;" [value]="key">{{ key }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field *ngIf="themes$ | async as themes">
          <mat-select #sceneTheme placeholder="Themes" [ngModel]="theme$ | async" (valueChange)="onSetTheme($event);">
            <mat-option *ngFor="let key of themes; trackBy: trackByIndex;" [value]="key">{{ key }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field *ngIf="sceneFieldsPresetsKeys$ | async as sceneFieldsPresetsKeys">
          <mat-select #sceneFieldsPreset placeholder="Field Presets"
            (valueChange)="onSetFieldsPresetKey($event); sceneFieldsPreset.value = null;">
            <mat-option [value]="null">-</mat-option>
            <mat-option *ngFor="let key of sceneFieldsPresetsKeys; trackBy: trackByIndex;" [value]="key">{{ key }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </div>

  <div ddFlexbox="vys">
    <mat-list class="mat-list-auto-height">
      <h3 mat-subheader>Stats</h3>
      <mat-list-item>
        <p mat-line>{{ 'Problems: ' + (fieldsProblemsCount$ | async) }}</p>
      </mat-list-item>
    </mat-list>

    <app-game-down-ai-initiative></app-game-down-ai-initiative>

  </div>

  <div *ngIf="selectedField$ | async as field" ddFlexbox="vys">
    <mat-list class="mat-list-auto-height">
      <h3 mat-subheader>Field {{ selectedFieldIndex$ | async }}</h3>
      <mat-list-item>
        <mat-form-field *ngIf="fieldValues$ | async as fields">
          <mat-select placeholder="Field" [ngModel]="selectedFieldField$ | async"
            (valueChange)="onMergeSelectedField_Field(field, $event);">
            <mat-option *ngFor="let key of fields; trackBy: trackByIndex;" [value]="key">{{ key }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <p *ngFor="let mod of field.modifiers" [style.marginLeft]="'2.5rem'">
        {{ mod.type + (mod.data === null ? '' : ' (' + mod.data + ')') }}
      </p>

      <ng-container *ngIf="fieldProblems$ | async as fieldProblems">
        <h3 mat-subheader>{{ 'Problems: ' + fieldProblems.length }}</h3>
        <p *ngFor="let problem of fieldProblems" [style.marginLeft]="'2.5rem'">
          {{ problem }}
        </p>
      </ng-container>

      <ng-container *ngIf="selectedFieldEntities$ | async as entities">
        <ng-container *ngIf="entities.length">
          <h3 mat-subheader>Field Entities</h3>
          <ng-container *ngFor="let item of entities">
            <mat-list-item>
              <p mat-line>{{ item.name + ' ' + (item.variant || 0) }}</p>
            </mat-list-item>
            <p *ngFor="let mod of item.modifiers" [style.marginLeft]="'2.5rem'">
              {{ mod.type + (mod.data === null ? '' : ' (' + mod.data + ')') }}
            </p>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="selectedFieldActor$ | async as item">
        <h3 mat-subheader>Field Actor</h3>
        <mat-list-item>
          <p mat-line>
            {{
            (item.isNpc ? 'NPC ' : '')
            + item.name
            + ' ' + (item.variant|| 0)
            }}
          </p>
        </mat-list-item>
        <p *ngFor="let mod of item.modifiers" [style.marginLeft]="'2.5rem'">
          {{ mod.type + (mod.data === null ? '' : ' (' + mod.data + ')') }}
        </p>
      </ng-container>
    </mat-list>
  </div>

</div>