<div ddFlexbox="hyscsw">
  <mat-card appearance="outlined" class="childhv">
    <mat-card-title>Queries</mat-card-title>
    <mat-card-content>
      <div ddFlexbox="vys">
        <mat-list class="mat-list-auto-height">
          <h3 mat-subheader>API</h3>
          @for (type of TYPES_LISTS; track $index) {
            <mat-list-item>
              <button mat-raised-button (click)="toAnyData(typeToList$[type])">{{ type }}</button>
            </mat-list-item>
          }
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" *ngIf="tableAllData$ | async as tableAllData" class="childhv">
    <mat-card-title>List</mat-card-title>
    <mat-card-content>
      <app-loading-bar [show]="(busyCount$ | async) > 0" />
      <app-simple-table
        [style.maxWidth]="'100rem'"
        [data]="tableAllData"
        [isClickable]="clickableValue"
        (clicked)="onClickedValue($event.key, $event.value)"
      />
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" *ngIf="anyData$ | async as anyData" class="childhv">
    <mat-card-title>Details</mat-card-title>
    <mat-card-content class="scroll-y-auto" [style.maxHeight]="'60rem'">
      <app-loading-bar [show]="(busyCount$ | async) > 0" />
      <app-simple-view
        [data]="anyData"
        [isWidthConstrained]="false"
        [isDense]="true"
        [isClickable]="clickableValue"
        (clicked)="onClickedValue($event.key, $event.value)"
      />
    </mat-card-content>
  </mat-card>
</div>
