<div ddFlexbox="hyscsw">

  <h1 class="color-warn">CORS/PROXY KILLS APIS, NOT WORKING CURRENTLY.</h1>

  <mat-card class="childhv">
    <mat-card-title>Actions: Input</mat-card-title>
    <mat-card-content>
      <div ddFlexbox="vys">

        <mat-list class="mat-list-auto-height">
          <h3 mat-subheader>Blockchain</h3>
          <mat-list-item>
            <div ddFlexbox="hyc">
              <mat-form-field class="childh value-numeric">
                <input matInput [ngModel]="bitcoinAddress$ | async" placeholder="Bitcoin Address" (keyup.enter)="requestBitcoinAddress()">
              </mat-form-field>
              <button mat-mini-fab (click)="requestBitcoinAddress()">
                <mat-icon>{{ 'refresh' | icon }}</mat-icon>
              </button>
            </div>
          </mat-list-item>

          <h3 mat-subheader>Samplerest</h3>
          <mat-list-item>
            <button mat-raised-button (click)="requestSamplerestUsers()">Users</button>
          </mat-list-item>
        </mat-list>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="childhv">
    <mat-card-title>Actions: Output</mat-card-title>
    <mat-card-content>
      <app-simple-view [data]="anyData$ | async" [isWidthConstrained]="false" [isDense]="true"></app-simple-view>
    </mat-card-content>
  </mat-card>

</div>