<div class="list-v">
  <mat-card appearance="outlined" class="childv">
    <mat-card-title>Graphsky</mat-card-title>
    <mat-card-content>
      <div class="list-h wrap">
        <div class="list-v">
          <div class="bar-h">
            <button mat-button color="accent" (click)="graphskyAddTestData()">+ TEST</button>
            <button mat-button color="warn" (click)="graphskyDrop()">DROP</button>
          </div>
          <app-simple-view
            class="hovered-elevated"
            subheader="Stats"
            [data]="graphskyLog$ | async"
            [isWidthConstrained]="false"
            [isDense]="true"
          />
        </div>

        <app-simple-view
          class="hovered-elevated"
          subheader="All"
          [data]="graphskyAll$ | async"
          [isWidthConstrained]="false"
          [isDense]="true"
        />
        <app-simple-view
          class="hovered-elevated"
          subheader="Likes"
          [data]="graphskyLiked$ | async"
          [isWidthConstrained]="false"
          [isDense]="true"
        />
        <app-simple-view
          class="hovered-elevated"
          subheader="Diversity"
          [data]="graphskyDiversity$ | async"
          [isWidthConstrained]="false"
          [isDense]="true"
        />
      </div>
    </mat-card-content>
  </mat-card>
</div>
