<ng-template #tmplNode let-item let-header="header">
  <div class="contenthv childhv hovered-elevated list-v">
    <h4 *ngIf="header" class="text-center">{{ header }}</h4>
    <div class="bar-h">
      <label class="childh">{{ item.inc.length }}</label>
      <label class="childh text-center" style="flex: 1 0 auto">{{ 'inc .. out' }}</label>
      <label class="childh">{{ item.out.length }}</label>
    </div>
    <app-simple-view [data]="item.data" [isDense]="true" [isWidthConstrained]="false" />
  </div>
</ng-template>

<ng-template #tmplLink let-item let-header="header">
  <div class="contenthv childhv hovered-elevated list-v">
    <h4 *ngIf="header" class="text-center">{{ header }}</h4>
    <app-simple-view [data]="item.data" [isDense]="true" [isWidthConstrained]="false" />
  </div>
</ng-template>

<!-- START HERE -->

<mat-card appearance="outlined">
  <mat-card-content>
    <div class="list-v">
      <div class="list-h wrap">
        <div class="contenthv childhv hovered-elevated">
          <h2>DB Stats: Overall</h2>
          <app-simple-view [data]="dbState$ | async" [isDense]="true" [isWidthConstrained]="false" />
        </div>

        <div class="contenthv childhv hovered-elevated">
          <h2>DB Stats: Node Types</h2>
          <app-simple-view [data]="dbNodeTypeCount$ | async" [isDense]="true" [isWidthConstrained]="false" />
        </div>
      </div>

      <div class="contenthv childhv hovered-elevated bar-h wrap">
        <label>Query first node of:</label>

        <mat-form-field class="margin-left childhv" hintLabel="Type">
          <mat-select [value]="curType$ | async" (selectionChange)="setCurType($event.value)">
            <mat-option *ngFor="let ii of dbTypes$ | async" [value]="ii">{{ ii }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="margin-left childhv" hintLabel="Tag">
          <mat-select [value]="curTag$ | async" (selectionChange)="setCurTag($event.value)">
            <mat-option *ngFor="let ii of curTypeKeys$ | async" [value]="ii">{{ ii }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button *ngFor="let ii of CMPS" mat-mini-fab (click)="tryQuery(ii)">{{ ii }}</button>

        <mat-form-field class="margin-left childhv" hintLabel="Value">
          <input
            #valInput
            matInput
            [value]="curVal$ | async"
            (change)="setCurVal(valInput.value)"
            [matAutocomplete]="valAutoComplete"
            (focus)="setCurVal(valInput.value)"
            (keyup)="setCurVal(valInput.value)"
            (keyup.enter)="tryQuery()"
          />
          <mat-autocomplete #valAutoComplete="matAutocomplete" (optionSelected)="setCurVal($event.option.value)">
            <mat-option *ngFor="let ii of curTypeKeyTagValuesFiltered$ | async" [value]="ii">{{ ii }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div *ngIf="curNode$ | async as node" [ngStyle]="{display: 'grid', 'grid-template-areas': GRID, 'grid-template-columns': GRID_SIZE}">
        <div [ngStyle]="{'grid-area': GRID_FROM}">
          <div class="list-v" [style.align-items]="'flex-end'">
            <div *ngFor="let link of node.inc" class="childh list-h">
              <ng-container *ngTemplateOutlet="tmplNode; context: {$implicit: link.from}" />
              <div class="bar-h">
                <ng-container *ngTemplateOutlet="tmplLink; context: {$implicit: link}" />
                <button mat-mini-fab (click)="setCurNode(link.from)">
                  <mat-icon>{{ 'go_left' | icon }}</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div [ngStyle]="{'grid-area': GRID_CURRENT}">
          <div class="childh bar-v">
            <ng-container *ngTemplateOutlet="tmplNode; context: {$implicit: node, header: 'CURRENT'}" />
          </div>
        </div>

        <div [ngStyle]="{'grid-area': GRID_TO}">
          <div class="childh list-v">
            <div *ngFor="let link of node.out" class="list-h">
              <div class="bar-h">
                <button mat-mini-fab (click)="setCurNode(link.to)">
                  <mat-icon>{{ 'go_right' | icon }}</mat-icon>
                </button>
                <ng-container *ngTemplateOutlet="tmplLink; context: {$implicit: link}" />
              </div>
              <ng-container *ngTemplateOutlet="tmplNode; context: {$implicit: link.to}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
