<ng-template #templateLink let-link>
  <button mat-mini-fab [matTooltip]="link | ghibliRouteLink: 'tooltip'" [routerLink]="link | ghibliRouteLink">
    <i class="material-icons">{{ link | ghibliRouteLink: 'icon' | icon }}</i>
  </button>
</ng-template>

<ng-container *ngIf="links?.length === 1">
  <ng-container *ngTemplateOutlet="templateLink; context: {$implicit: links[0]}"> </ng-container>
</ng-container>

<div *ngIf="links?.length > 1" class="links">
  @for (item of links; track $index) {
    <ng-container *ngTemplateOutlet="templateLink; context: {$implicit: item}"> </ng-container>
  }
</div>
