.scope {
  height: 100%;
  width: 100%;

  display: grid;
  background: darkslategrey;
  font-size: 75%;
  text-align: center;

  .field {
    border-radius: 1em;

    &:hover {
      outline: 1px solid aquamarine;
    }
  }

  &-show-mines .field-mine {
    background-color: darkolivegreen;
  }
}
