<table
  *ngIf="game$ | async"
  class="scope"
  [class.scope-show-mines]="showMines || (lost$ | async)"
  [style.border]="'none'"
  [attr.cellspacing]="'0'"
  [attr.cellpadding]="'0'"
>
  <ng-container *ngIf="trtds$ | async as trtds">
    <tr *ngFor="let tr of trtds; trackBy: trackByIndex; let row = index">
      <td *ngFor="let td of tr; trackBy: trackByIndex; let col = index">
        <div class="field field-{{ td }}" (click)="onClickRowCol(row, col, $event)"></div>
      </td>
    </tr>
  </ng-container>
</table>
