.scope {
  td > div {
    width: 3rem;
    height: 3rem;
    font-size: 0.7em;
  }

  background: darkslategrey;

  .field {
    border-radius: 1em;

    &-flag {
      background-color: brown;
    }

    &:hover {
      outline: 1px solid aquamarine;
    }
  }

  &-show-mines .field-mine {
    background-color: darkolivegreen;
  }
}
