<ng-template #templateIndexedField let-index let-fields="fields">
  <app-game-down-field
    [theme]="theme$ | async"
    (mouseenter)="onHover(index, true)"
    (mouseleave)="onHover(index, false)"
    (click)="onClick(index)"
  >
    <ng-container [ngSwitch]="renderer$ | async">
      <app-render-simple-field
        *ngSwitchCase="RENDERER_SIMPLE"
        [theme]="theme$ | async"
        [data]="fields[index]"
        [hovered]="(hovered$ | async) === index"
        [selected]="(selected$ | async) === index"
      />
    </ng-container>

    <div
      *ngIf="viewDebug$ | async"
      ddFlexbox="vxeye"
      class="position-absolute match-parent border-radius value-numeric"
      [style.fontSize]="'1.5em'"
      [style.border]="'.2em solid transparent'"
    >
      <label>{{ (renderer$ | async) || '!renderer!' }}</label>
      <label>{{ (theme$ | async)?.name || '!theme!' }}</label>
      <label>
        {{ ((selected$ | async) === index ? 'S' : '_') + ((hovered$ | async) === index ? 'H' : '_') }}
      </label>
    </div>
  </app-game-down-field>
</ng-template>

<div class="border" [style.fontSize]="(factor$ | async) + 'rem'" [style.backgroundColor]="'white'">
  <table [style.border]="'none'" [attr.cellspacing]="'0'" [attr.cellpadding]="'0'">
    <ng-container *ngIf="fields$ | async as fields">
      <tr *ngFor="let yy of HEIGHT">
        <td *ngFor="let xx of WIDTH">
          <ng-container *ngTemplateOutlet="templateIndexedField; context: {$implicit: yy * WIDTH.length + xx, fields: fields}" />
        </td>
      </tr>
    </ng-container>
  </table>
</div>
