.scope {
  background: #2f4f4f;

  td > div {
    width: 3rem;
    height: 3rem;
    font-size: 1.9em;
    text-align: center;
  }

  .field {
    border-radius: 1em;

    &-flag {
      background-color: #a52a2a;
    }

    &-clear {
      background-color: #faebd7;
      border-radius: 0;
    }

    &:hover {
      outline: 1px solid #7fffd4;
    }
  }

  &-show-mines .field-mine {
    background-color: #556b2f;
  }
}
