<ng-container *ngIf="columns$ | async as columns">
  <ng-container *ngIf="columns.length > 0">
    <ng-container *ngIf="dataBatchClickables$ | async as dataBatchClickables">
      <mat-form-field class="childhv">
        <input
          #inputFilter
          matInput
          [value]="filter$ | async"
          (change)="setFilter(inputFilter.value)"
          (keyup)="setFilter(inputFilter.value)"
          placeholder="Filter"
        />
      </mat-form-field>

      <div ddFlexitem="1 1" class="scroll-y-always">
        <table
          mat-table
          class="text-nowrap"
          [trackBy]="trackByIndex"
          [dataSource]="dataBatch$"
          matSort
          [matSortDisableClear]="true"
          [matSortDirection]="(sortAsc$ | async) ? 'asc' : 'desc'"
          [matSortActive]="sortBy$ | async"
          (matSortChange)="onSortChange($event.active, $event.direction !== 'desc')"
        >
          <ng-container *ngFor="let col of columns; trackBy: trackByIndex" [matColumnDef]="col">
            <th mat-header-cell *matHeaderCellDef [mat-sort-header]="col">{{ col | startuppercase | ripupper }}</th>
            <td mat-cell *matCellDef="let ii; let index = index">
              <div
                class="break-text contenthv"
                [ngClass]="{clickable: dataBatchClickables[index].includes(col), 'color-accent': dataBatchClickables[index].includes(col)}"
                [style.fontSize]="'1.2rem'"
                (click)="dataBatchClickables[index].includes(col) ? onClicked(col, ii[col]) : {}"
              >
                <span>
                  {{ ii[col] }}
                </span>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columns" class="hoverable" (dblclick)="onRowDoubleClick(row)"></tr>
        </table>
      </div>

      <mat-paginator
        [hidePageSize]="true"
        [pageSize]="pageSize$ | async"
        [showFirstLastButtons]="true"
        [length]="total$ | async"
        [pageIndex]="page$ | async"
        (page)="setPage($event.pageIndex)"
      ></mat-paginator>
    </ng-container>
  </ng-container>
</ng-container>
