<ng-template #tmplNode let-item let-header="header">
  <div ddFlexbox="vyt" class="childhv background-card border">
    <h4 *ngIf="header" class="childh text-center">{{ header }}</h4>
    <div ddFlexbox="hyc">
      <label class="childh">{{ item.inc.length }}</label>
      <label ddFlexitem="1 0" class="childh text-center">{{ 'inc .. out' }}</label>
      <label class="childh">{{ item.out.length }}</label>
    </div>
    <app-simple-view [data]="item.data" [isDense]="true" [isWidthConstrained]="false"></app-simple-view>
  </div>
</ng-template>

<ng-template #tmplLink let-item let-header="header">
  <div ddFlexbox="vyt" class="childhv background-card border">
    <h4 *ngIf="header" class="childh text-center">{{ header }}</h4>
    <app-simple-view [data]="item.data" [isDense]="true" [isWidthConstrained]="false"></app-simple-view>
  </div>
</ng-template>

<!-- START HERE -->

<div ddFlexbox="vyt">
  <div ddFlexbox="hysw">

    <mat-card class="childhv">
      <mat-card-title>DB Stats: Overall</mat-card-title>
      <mat-card-content>
        <app-simple-view [data]="dbState$ | async" [isDense]="true" [isWidthConstrained]="false"></app-simple-view>
      </mat-card-content>
    </mat-card>

    <mat-card class="childhv">
      <mat-card-title>DB Stats: Node Types</mat-card-title>
      <mat-card-content>
        <app-simple-view [data]="dbNodeTypeCount$ | async" [isDense]="true" [isWidthConstrained]="false"></app-simple-view>
      </mat-card-content>
    </mat-card>

  </div>

  <div ddFlexbox="hycw">
    <button mat-raised-button (click)="tryQuery()" [disabled]="!(curType$ | async) || !(curTag$ | async) || !(curVal$ | async)">Query first node of...</button>

    <mat-form-field class="margin-left childhv" hintLabel="Type">
      <mat-select [value]="curType$ | async" (selectionChange)="curType$.next($event.value)">
        <mat-option *ngFor="let ii of dbTypes$ | async" [value]="ii"> {{ ii }} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="margin-left childhv" hintLabel="Tag">
      <input #tagInput matInput [value]="curTag$ | async" (change)="curTag$.next($event.target.value)" [matAutocomplete]="tagAutoComplete"
        (focus)="this.curTag$.next(tagInput.value)" (keyup)="this.curTag$.next(tagInput.value)" (keyup.enter)="tryQuery()">
      <mat-autocomplete #tagAutoComplete="matAutocomplete" (optionSelected)="curTag$.next($event.option.value)">
        <mat-option *ngFor="let ii of curTypeKeysFiltered$ | async" [value]="ii">{{ ii }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="margin-left childhv" hintLabel="Value">
      <input matInput [value]="curVal$ | async" (change)="curVal$.next($event.target.value)" (keyup.enter)="tryQuery()">
    </mat-form-field>
  </div>

  <div *ngIf="curNode$ | async as node" [ngStyle]="{'display': 'grid', 'grid-template-areas': GRID, 'grid-template-columns': GRID_SIZE }">

    <div [ngStyle]="{'grid-area': GRID_FROM}">
      <div ddFlexbox="vye">
        <div *ngFor="let link of node.inc" ddFlexbox="hys" class="childh">
          <ng-container *ngTemplateOutlet="tmplNode; context: {$implicit: link.from}"></ng-container>
          <div ddFlexbox="hyc">
            <ng-container *ngTemplateOutlet="tmplLink; context: {$implicit: link}"></ng-container>
            <button mat-mini-fab (click)="curNode$.next(link.from)">
              <mat-icon>{{ 'go_left' | icon }}</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div [ngStyle]="{'grid-area': GRID_CURRENT}">
      <div ddFlexbox="vyc" class="childh">
        <ng-container *ngTemplateOutlet="tmplNode; context: {$implicit: node, header: 'CURRENT'}"></ng-container>
      </div>
    </div>

    <div [ngStyle]="{'grid-area': GRID_TO}">
      <div ddFlexbox="vys" class="childh">
        <div *ngFor="let link of node.out" ddFlexbox="hys">
          <div ddFlexbox="hyc">
            <button mat-mini-fab (click)="curNode$.next(link.to)">
              <mat-icon>{{ 'go_right' | icon }}</mat-icon>
            </button>
            <ng-container *ngTemplateOutlet="tmplLink; context: {$implicit: link}"></ng-container>
          </div>
          <ng-container *ngTemplateOutlet="tmplNode; context: {$implicit: link.to}"></ng-container>
        </div>
      </div>
    </div>

  </div>

</div>