<div ddFlexbox="vys">
  <mat-card ddFlexitem="at">
    <mat-card-title>Polynomial</mat-card-title>
    <mat-card-content>
      <div ddFlexbox="vys">
        <div ddFlexbox="hys" class="childv">

          <table *ngIf="factorsCurrent$ | async as factorsCurrent">
            <tr>
              <td></td>
              <td *ngFor="let _ of factorsCurrent; let iFactor = index; trackBy: trackByIndex">
                <mat-form-field class="width-short-input font-table-input mat-input-save-subspace childh">
                  <input matInput type="number" [min]="-factorRange" [max]="factorRange" [disabled]="isBusy$ | async" required [value]="factorsCurrent[iFactor]"
                    (change)="updateFactor(factorsCurrent, iFactor, +$event.target.value, $event.target)">
                </mat-form-field>
              </td>
            </tr>
            <tr *ngFor="let factors of [factorsCurrent, factorsTrained$ | async]; let iFactors = index;" [ngStyle]="{'color': colors[iFactors % colors.length], 'vertical-align': 'bottom'}">
              <td>f(x) = </td>
              <ng-container *ngFor="let factor of factors; let ii = index;">
                <td>
                  {{ (factor >= 0 ? ' +' : ' ') + (factor | d3number:'.2r') }}
                  <ng-container *ngIf="ii+1 < factors.length">
                    {{ 'x' }}
                    <sup *ngIf="ii+2 < factors.length" class="font-small">{{ factors.length - 1 - ii }}</sup>
                  </ng-container>
                </td>
              </ng-container>
            </tr>
          </table>

          <div ddFlexbox="vys" class="childhv">
            <div ddFlexbox="hyscsw" class="childhv">
              <div class="childh">
                <button mat-raised-button (click)="generatePoints()" [disabled]="isBusy$ | async">NEW POINTS</button>
              </div>
              <div class="childh">
                <button mat-raised-button (click)="resetTrained()" [disabled]="isBusy$ | async">RESET TRAINED</button>
              </div>
            </div>
            <div ddFlexbox="hyscsw" class="childhv">
              <div class="childh" [style.paddingTop]="'.39rem'">
                <label>Rate: </label>
                <mat-form-field class="width-short-input font-table-input mat-input-save-subspace">
                  <input matInput type="number" [disabled]="isBusy$ | async" required [value]="learningRate$ | async" (change)="updateLearningRate(+$event.target.value)"
                    step=".1" min="0.01">
                </mat-form-field>
              </div>
              <mat-form-field class="childh width-shorter-input no-padding font-table-input mat-input-save-subspace">
                <mat-select [value]="(optimizer$ | async) || optimizerDef" (selectionChange)="updateOptimizer($event.value)">
                  <mat-option *ngFor="let ii of optimizers" [value]="ii"> {{ ii }} </mat-option>
                </mat-select>
              </mat-form-field>
              <button *ngFor="let ii of [1, 5, 10, 100, 1000]; let iindex= index;" mat-raised-button class="auto-min-width" (click)="train(ii)"
                [disabled]="isBusy$ | async">
                {{ (iindex === 0 ? 'TRAIN ' : '') + 'x' + ii }}
              </button>
            </div>
          </div>

        </div>
        <app-diagram-polynom [style.minWidth]="'70rem'" ddFlexitem="at" [points]="pointsCurrent$ | async" [polynomials]="[factorsCurrent$ | async, factorsTrained$ | async]"
          [polynomialColors]="colors"></app-diagram-polynom>
      </div>
    </mat-card-content>
  </mat-card>
</div>