<div *ngIf="item">
  <label>
    <app-ghibli-link [link]="item.url"></app-ghibli-link>
    {{ item.name }}
  </label>

  <div class="links">
    <app-ghibli-link *ngIf="item.species" [link]="item.species"></app-ghibli-link>
    <ng-container *ngFor="let movie of item.films; trackBy: trackByIndex">
      <app-ghibli-link *ngIf="movie" [link]="movie"></app-ghibli-link>
    </ng-container>
  </div>

  <table>
    <colgroup>
      <col />
      <col />
    </colgroup>
    <tr>
      <td>Gender</td>
      <td>{{ item.gender }}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{ item.age }}</td>
    </tr>
    <tr>
      <td>Eye Color</td>
      <td>{{ item.eye_color }}</td>
    </tr>
    <tr>
      <td>Hair Color</td>
      <td>{{ item.hair_color }}</td>
    </tr>
  </table>
</div>
