:host {
  display: inline-flex;
  flex-direction: column;

  padding: var(--padding-big);

  > :nth-child(1n + 2) {
    margin-top: var(--margin);
  }

  label {
    font-size: var(--size-font-big);
  }
}
