:host {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;

  > main {
    flex: 1 1 auto;
    position: relative;

    > div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      padding: var(--size-pad);
    }
  }
}
