<div ddFlexbox="hyscsw">
  <mat-card class="childhv">
    <mat-card-title>Math Test</mat-card-title>
    <mat-card-content>
      <div ddFlexbox="vys">
        <input type="number" matInput placeholder="Seed" [value]="seed" (change)="seed = +$event.target.value" />
        <button mat-button (click)="triggerGenerate()">Generate</button>
        <button mat-button [disabled]="!(data$ | async)" (click)="triggerPdf()">PDF</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="childhv">
    <mat-card-title>Output</mat-card-title>
    <mat-card-content>
      <app-simple-view [data]="data$ | async" [isWidthConstrained]="false" [isDense]="true"></app-simple-view>
    </mat-card-content>
  </mat-card>
</div>
