<mat-card>
  <mat-card-title>Math Test</mat-card-title>
  <mat-card-content>
    <p>
      <mat-form-field>
        <input type="number" matInput [min]="1" placeholder="Seed" [value]="seed$ | async" (change)="setSeed(+$event.target.value)" />
      </mat-form-field>
      <button mat-raised-button [disabled]="!(data$ | async)" (click)="triggerPdf()">PDF</button>
    </p>
    <label class="right">{{ points$ | async }} points</label>
    <app-simple-view subheader="JSON" [data]="data$ | async" [isWidthConstrained]="false" [isDense]="true"></app-simple-view>
    <app-simple-view subheader="PDF" [data]="pdfMeta$ | async" [isWidthConstrained]="false" [isDense]="true"></app-simple-view>
  </mat-card-content>
</mat-card>
