<div
  class="scope"
  (keydown.arrowup)="triggerDirection('U')"
  (keydown.arrowdown)="triggerDirection('D')"
  (keydown.arrowleft)="triggerDirection('L')"
  (keydown.arrowright)="triggerDirection('R')"
>
  <div class="childhv contenthv background-highlighted border">
    <h5>Settings</h5>

    <button class="childhv" (click)="triggerInit()">Init</button>
    <button class="childhv" (click)="triggerFrame()">Frame</button>
    <button class="childhv" (click)="toggleLoop()">{{ (toggleLoop$ | async) ? 'Loop OFF' : 'Loop ON' }}</button>
    @for (vec of ['L', 'U', 'R', 'D']; track $index) {
      <button class="childhv" (click)="triggerDirection(vec)">{{ vec }}</button>
    }

    <app-simple-view [isDense]="true" [isExpandable]="true" subheader="Preset" [data]="preset$ | async" />
    <app-simple-view [isDense]="true" [isExpandable]="true" [isWidthConstrained]="false" subheader="Game" [data]="(game$ | async) || {}" />
  </div>

  <div class="childhv contenthv background-highlighted border">
    <h5>Render: HTML</h5>
    <div style="width: 20rem; height: 20rem; padding: 0.5em">
      <app-game-snake-render-html [game]="game$ | async" />
    </div>
  </div>
</div>
