<mat-toolbar color="primary" [class.toolbar-column]="layout === 'column'">
  @if (layout === undefined || layout === 'row') {
    <span class="mat-toolbar-filler"></span>
  }
  @if (items) {
    <nav class="mat-nav-list">
      @for (ii of items; track $index) {
        <a
          mat-button
          [style.min-width]="'auto'"
          [routerLink]="ii.route"
          routerLinkActive="active"
          [matTooltip]="ii.label"
          [matTooltipPosition]="layout === undefined || layout === 'row' ? 'below' : 'right'"
        >
          <i class="material-icons transition-transform active-scale">{{ ii.icon | icon }}</i>
        </a>
      }
    </nav>
    <span class="mat-toolbar-filler"></span>
  }
</mat-toolbar>
