<div ddFlexbox="hyscsw">

  <mat-card class="childhv">
    <mat-card-title>Queries</mat-card-title>
    <mat-card-content>
      <div ddFlexbox="vys">
        <mat-list class="mat-list-auto-height">

          <h3 mat-subheader>API</h3>
          <mat-list-item *ngFor="let type of TYPES_LISTS"><button mat-raised-button (click)="toAnyData(TYPE_TO_GET_LIST[type])">{{ type }}</button></mat-list-item>

        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="childhv">
    <mat-card-title>Output</mat-card-title>
    <mat-card-content>
      <app-loading-bar [show]="(busyCount$ | async) > 0"></app-loading-bar>
      <app-simple-view [data]="anyData$ | async" [isWidthConstrained]="false" [isDense]="true" [isClickable]="clickableValue" (clicked)="onClickedValue($event.key, $event.value)"></app-simple-view>
    </mat-card-content>
  </mat-card>

</div>