.scope {
  height: 100%;
  width: 100%;
  display: grid;
  background: #2f4f4f;

  .field {
    border-radius: 1em;

    &-food {
      background-color: #ffd700;
    }

    &-snake {
      background-color: #d3d3d3;
    }

    &-head {
      background-color: #00ff00;
    }
  }
}
