@use '../../../../../variables' as va;

:host {
  display: flex;
  height: 100%;
  position: relative;

  > .list {
    --list-size: 25rem;

    min-width: var(--list-size);
    max-width: var(--list-size);

    .links {
      display: flex;
      flex-direction: column;

      .link {
        cursor: pointer;
        max-width: calc(var(--list-size) - 2em);
        font-size: var(--size-font-bigger);
        padding: 0.75em;

        &.active {
          color: va.$clr-primary;
        }
      }
    }
  }

  > .content {
    flex: 1 1 auto;
  }
}
