<div ddFlexbox="hyscsw">
  <canvas id="render-canvas" class="childhv" [width]="width$ | async" [height]="height$ | async"></canvas>

  <div class="childhv hovered-elevated" ddFlexbox="vys">
    <div ddFlexbox="hyc">
      <label class="childh">Canvas BG:</label>
      <input class="border square" type="color" [value]="colorCanvasBg$ | async" (input)="setColorCanvasBg($event.target.value)">
    </div>
  </div>

  <app-simple-view class="childhv hovered-elevated" subheader="State" [data]="nodeStat$ | async" [isWidthConstrained]="false"
    [isDense]="true">
  </app-simple-view>
</div>