<div ddFlexbox="hyscsw">
  <canvas id="render-canvas" class="childhv" [width]="width$ | async" [height]="height$ | async"></canvas>

  <div class="childhv hovered-elevated" ddFlexbox="vys">
    <div ddFlexbox="hyc">
      <label class="childh">Canvas BG:</label>
      <input #input class="squared" type="color" [value]="colorCanvasBg$ | async" (input)="setColorCanvasBg(input.value)" />
    </div>
  </div>

  <app-simple-view class="childhv hovered-elevated" subheader="State" [data]="stats$ | async" [isWidthConstrained]="false" [isDense]="true">
  </app-simple-view>
</div>
