.scope {
  height: 100%;
  width: 100%;

  display: grid;
  background: darkslategrey;

  .field {
    border-radius: 1em;

    &-food {
      background-color: gold;
    }

    &-snake {
      background-color: lightgrey;
    }

    &-head {
      background-color: lime;
    }
  }
}
