<div ddFlexbox="hyscsw">
  <mat-card class="childhv">
    <mat-card-title>Actions: API</mat-card-title>
    <mat-card-content>
      <div ddFlexbox="vys">
        <h1 class="color-warn">CORS/PROXY KILLS API.</h1>

        <mat-list class="mat-list-auto-height">
          <h3 mat-subheader>Ping</h3>
          <mat-list-item>
            <div ddFlexbox="hyc">
              <button mat-button (click)="wsBlockchainPing()">Blockchain WS</button>
              <button mat-button (click)="wsBlockCypherPing()">BlockCypher WS</button>
            </div>
          </mat-list-item>

          <h3 mat-subheader>Address</h3>
          <mat-list-item>
            <div ddFlexbox="hyc">
              <mat-form-field class="childh value-numeric">
                <input
                  matInput
                  [ngModel]="bitcoinAddress$ | async"
                  (ngModelChange)="bitcoinAddress$.next($event)"
                  placeholder="Bitcoin Address"
                />
              </mat-form-field>
              <div ddFlexbox="vys">
                <button mat-button (click)="apiBlockchainBitcoinAddress()">Blockchain API</button>
                <button mat-button (click)="wsBlockchainAddressLatestTransaction()">Blockchain WS</button>
              </div>
              <div ddFlexbox="vys">
                <button mat-button (click)="apiBlockCypherBitcoinAddress()">BlockCypher API</button>
                <button mat-button (click)="wsBlockCypherAddressConfirmedTx()">BlockCypher WS</button>
              </div>
            </div>
          </mat-list-item>

          <h3 mat-subheader>Stats</h3>
          <mat-list-item>
            <div ddFlexbox="hyc">
              <div ddFlexbox="vys">
                <button mat-button (click)="apiWebBitcoinStats()">WebBitcoin API</button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="childhv">
    <mat-card-title>Actions: Output</mat-card-title>
    <mat-card-content>
      <app-simple-view [data]="anyData$ | async" [isWidthConstrained]="false" [isDense]="true"></app-simple-view>
    </mat-card-content>
  </mat-card>
</div>
