<div class="border" [style.fontSize]="(factor$ | async) + 'rem'" [style.backgroundColor]="'white'">
  <table>
    <ng-container *ngIf="fields$ | async as fields">
      <tr *ngFor="let yy of HEIGHT">
        <td *ngFor="let xx of WIDTH">
          <app-game-down-field [theme]="theme$ | async" [data]="fields[yy * WIDTH.length + xx]" (hover)="onHover(yy * WIDTH.length + xx, $event)"
            [viewDebug]="viewDebug$ | async"></app-game-down-field>
        </td>
      </tr>
    </ng-container>
  </table>
</div>