<div class="border-radius position-relative" [ngStyle]="{'width': '9em', 'height': '9em'}" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <ng-container *ngIf="theme$ | async as theme">
    <ng-container *ngIf="data$ | async as data">
      <div *ngIf="viewDebug" ddFlexbox="vxeye" class="position-absolute match-parent value-numeric" [style.fontSize]="'1.5em'">
        <label>{{ theme }}</label>
        <label>{{ data.field }}</label>
      </div>
    </ng-container>
  </ng-container>
</div>