<div class="scope">
  TODO
  <div class="childhv contenthv background-highlighted border">
    <h5>Settings</h5>

    <button class="childhv" (click)="triggerInit()">Init</button>
    <button class="childhv" (click)="triggerFrame()">Frame</button>
    <button class="childhv" (click)="toggleLoop()">{{ (toggleLoop$ | async) ? 'Loop OFF' : 'Loop ON' }}</button>

    <app-simple-view [isDense]="true" [isExpandable]="true" subheader="Preset" [data]="preset$ | async"></app-simple-view>
    <app-simple-view
      [isDense]="true"
      [isExpandable]="true"
      [isWidthConstrained]="false"
      subheader="Game"
      [data]="(game$ | async) || {}"
    ></app-simple-view>
  </div>

  <div class="childhv contenthv background-highlighted border">
    <h5>Render: HTML</h5>
    <div style="width: 20rem; height: 20rem; padding: .5em;">
      <app-game-minesweeper-render-html
        [game]="game$ | async"
        (clickedIndex)="inputIndex($event.index, $event.alt)"
      ></app-game-minesweeper-render-html>
    </div>
  </div>
</div>
