<div *ngIf="data$ | async as model" class="position-relative">
  <div ddFlexbox="hys" [style.maxWidth]="'100%'" class="scroll-x-auto">
    <button mat-button *ngIf="isExpandable" class="inline-button" (click)="isExpanded = !isExpanded">
      <i class="material-icons rot-90">{{ (isExpanded ? 'collapse' : 'expand') | icon }}</i>
    </button>
    <mat-list *ngIf="!isExpandable || isExpanded" class="mat-list-auto-height" [attr.dense]="isDense ? true : null">
      <table *ngIf="keys$ | async as keys">
        <ng-container *ngIf="types$ | async as types">
          <ng-container *ngIf="clickables$ | async as clickables">
            <tr *ngFor="let key of keys; let iindex = index;">
              <td [style.verticalAlign]="'top'">
                <mat-list-item>
                  <span class="no-break-text">{{ key | startuppercase | ripupper }}</span>
                </mat-list-item>
              </td>
              <!-- <td class="contenthv" [style.verticalAlign]="'top'">{{ types[iindex] }}</td> -->
              <td>
                <mat-list-item [@TRIGGER_WobbleX]="['recursive'].includes(types[iindex]) ? null : model[key]">
                  <span class="break-text" [ngClass]="{'value-numeric': types[iindex] === 'number', 'size-data-label': isWidthConstrained}">
                    <ng-container [ngSwitch]="types[iindex]">
                      <a *ngSwitchCase="'url'" [href]="model[key]">{{ model[key] }}</a>
                      <span *ngSwitchCase="'timestamp'" [ngClass]="{'clickable': clickables[key], 'color-accent': clickables[key]}"
                        (click)="clickables[key] ? onClicked(key, model[key]) : {}">
                        {{ model[key] | date:FORMAT_DATE_TIMESTAMP}}
                      </span>
                      <ng-container *ngSwitchCase="'json'"> {{ model[key] | json }} </ng-container>
                      <ng-container *ngSwitchCase="'void'"> {{ '-' }} </ng-container>
                      <app-simple-view *ngSwitchCase="'recursive'" [data]="model[key]" [isWidthConstrained]="isWidthConstrained"
                        [isExpandable]="true" [isExpanded]="false" [isClickable]="isClickable" (clicked)="onClicked($event.key, $event.value)"></app-simple-view>
                      <span *ngSwitchDefault [ngClass]="{'clickable': clickables[key], 'color-accent': clickables[key]}" (click)="clickables[key] ? onClicked(key, model[key]) : {}">
                        {{ model[key] }}
                      </span>
                    </ng-container>
                  </span>
                </mat-list-item>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
    </mat-list>
  </div>
</div>