<div *ngIf="data$ | async as model" class="position-relative">
  <div ddFlexbox="hys" [style.maxWidth]="'100%'" class="scroll-x-auto">
    <button mat-button *ngIf="isExpandable" class="inline-button" (click)="isExpanded = !isExpanded">
      <i class="material-icons rot-90">{{ (isExpanded ? 'collapse' : 'expand') | icon }}</i>
    </button>
    <mat-list *ngIf="!isExpandable || isExpanded" class="mat-list-auto-height" [attr.dense]="isDense ? true : null">
      <ng-container *ngIf="keys$ | async as keys">
        <ng-container *ngIf="types$ | async as types">
          <ng-container *ngIf="clickables$ | async as clickables">
            <h4 *ngIf="subheader" mat-subheader>{{ subheader }}</h4>
            <table>
              @for (key of keys; track $index) {
                <tr>
                  <td [style.verticalAlign]="'top'">
                    <mat-list-item>
                      <span class="no-break-text">
                        {{ (key | startuppercase | ripupper) + (types[$index] === 'array' ? ' (' + model[key].length + ')' : '') }}
                      </span>
                    </mat-list-item>
                  </td>
                  <!-- <td class="contenthv" [style.verticalAlign]="'top'">{{ types[$index] }}</td> -->
                  <td>
                    <mat-list-item [@TRIGGER_WobbleX]="['recursive'].includes(types[$index]) ? null : model[key]">
                      <span
                        class="break-text"
                        [ngClass]="{'value-numeric': types[$index] === 'number', 'size-data-label': isWidthConstrained}"
                      >
                        @switch (types[$index]) {
                          @case ('url') {
                            <a [href]="model[key]">{{ model[key] }}</a>
                          }
                          @case ('timestamp') {
                            <span
                              [ngClass]="{clickable: clickables[key], 'color-accent': clickables[key]}"
                              (click)="clickables[key] ? onClicked(key, model[key]) : {}"
                            >
                              {{ model[key] | date: FORMAT_DATE_TIMESTAMP }}
                            </span>
                          }
                          @case ('json') {
                            {{ model[key] | json }}
                          }
                          @case ('void') {
                            {{ '-' }}
                          }
                          @case ('array') {
                            <app-simple-view
                              [data]="model[key]"
                              [isWidthConstrained]="isWidthConstrained"
                              [isExpandable]="true"
                              [isExpanded]="false"
                              [isClickable]="isClickable"
                              (clicked)="onClicked($event.key, $event.value)"
                            />
                          }
                          @case ('recursive') {
                            <app-simple-view
                              [data]="model[key]"
                              [isWidthConstrained]="isWidthConstrained"
                              [isExpandable]="true"
                              [isExpanded]="false"
                              [isClickable]="isClickable"
                              (clicked)="onClicked($event.key, $event.value)"
                            />
                          }
                          @default {
                            <span
                              [ngClass]="{clickable: clickables[key], 'color-accent': clickables[key]}"
                              (click)="clickables[key] ? onClicked(key, model[key]) : {}"
                            >
                              {{ model[key] }}
                            </span>
                          }
                        }
                      </span>
                    </mat-list-item>
                  </td>
                </tr>
              }
            </table>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-list>
  </div>
</div>
