.border-radius {
  border-radius: var(--size-radius);
}

.border-radius-top-left {
  border-top-left-radius: var(--size-radius);
}

.border-radius-top-right {
  border-top-right-radius: var(--size-radius);
}

.border-radius-top {
  @extend .border-radius-top-left;
  @extend .border-radius-top-right;
}

.border-left {
  border-left: solid 1px $clr-mat-dark-divider;
}

.border-right {
  border-right: solid 1px $clr-mat-dark-divider;
}

.border-top {
  border-top: solid 1px $clr-mat-dark-divider;
}

.border-bottom {
  border-bottom: solid 1px $clr-mat-dark-divider;
}

.border {
  @extend .border-radius;
  @extend .border-left;
  @extend .border-right;
  @extend .border-top;
  @extend .border-bottom;
}

.background-highlighted {
  background-color: fade-out($mat-clr-chip-bg-connected, 0.35);
}

.auto-line-height {
  line-height: initial;
}

.no-font-size {
  font-size: inherit;
}

.text-gigantic {
  font-size: var(--size-font-gigantic);
}

.font-default {
  font-size: var(--size-font-default);
}

.font-smaller {
  font-size: var(--size-font-smaller);
}

.font-small {
  font-size: var(--size-font-small);
}

.font-bold {
  font-weight: bold;
}

.text-warning {
  color: $clr-warn;
}

.ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.text-nowrap {
  white-space: nowrap;
}

.text-ellipsis {
  @extend .text-nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.break-text {
  white-space: normal;
  word-wrap: break-word;
}

.break-word {
  word-break: break-all;
}

.no-break-text {
  white-space: nowrap;
  word-wrap: normal;
}

.value-numeric {
  font-family: monospace;
}

.color-primary {
  color: $clr-primary;
}

.color-secondary {
  color: $clr-secondary;
}

.color-accent {
  @extend .color-secondary;
}

.color-warn {
  color: $clr-warn;
}

.css-highlight {
  color: $clr-primary;
}

.copyable {
  cursor: copy;
}

.clickable {
  cursor: pointer;
}

.deadclick {
  &:active {
    pointer-events: none;
  }
}

.deadclick-force {
  pointer-events: none;
}

.highlighted:not(:hover) {
  @extend .background-highlighted;
}

.hoverable:hover {
  background-color: $clr-mat-light-row-hover;
}

.topfix {
  margin-bottom: 0rem;
  font-size: calc(var(--size-font-default) * 0.75);
  color: $clr-mat-dark-secondary;
}

.user-selectable {
  user-select: text;
}

.icon-background {
  background-color: fade-out($clr-primary, 0.75);
  border-radius: 2.4rem;
}

.btm-right-single-action {
  @extend .position-fixed;
  display: inline-block;
  bottom: 2rem;
  right: 2rem;
}

.transition-background-color {
  transition: background-color var(--transition-duration);
}

.transition-border-color {
  transition: border-color var(--transition-duration);
}

.transition-opacity {
  transition: opacity var(--transition-duration);
}

.transition-transform {
  transition: transform var(--transition-duration-fast) ease-out;
}

.rot90 {
  transform: rotate(90deg);
}

.rot-90 {
  transform: rotate(-90deg);
}

.scale05 {
  transform: scale(0.5);
}

.active {
  .active-scale {
    transform: scale(2);
  }
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;

  svg {
    display: inline-block;
  }
}

.elevated-animation {
  @include mat-elevation-transition;
}

.elevated-1 {
  @include mat-elevation(1);
}

.hovered-elevated {
  @extend .elevated-animation;
  &:hover {
    @extend .elevated-1;
  }
}

.app-viewport {
  min-width: var(--size-viewport-min);
}
