::-webkit-scrollbar {
  width: .6rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.6rem $clr-scrollbar-track;
  box-shadow: inset 0 0 0.6rem $clr-scrollbar-track;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0.6rem $clr-scrollbar-thumb;
  box-shadow: inset 0 0 0.6rem $clr-scrollbar-thumb;
}

body {
  font-size: var(--size-font-default);
  font-family: var(--font-family-root);
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: var(--size-font-h1);
}

html {
  font-size: var(--size-font-root);
}

pre {
  &.break-text {
    white-space: pre-wrap;
  }
}