::-webkit-scrollbar {
  width: .6rem;
  height: .6rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.6rem $clr-scrollbar-track;
  box-shadow: inset 0 0 0.6rem $clr-scrollbar-track;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0.6rem $clr-scrollbar-thumb;
  box-shadow: inset 0 0 0.6rem $clr-scrollbar-thumb;
}

body {
  font-size: $font-size-default;
  font-family: $font-family-root;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: $font-size-h1;
}

html {
  font-size: $font-size-root;
}

pre {
  &.break-text {
    white-space: pre-wrap;
  }
}