.list-h,
%list-h {
  display: flex;
  box-sizing: border-box;
}

.list-v,
%list-v {
  @extend %list-h;

  flex-direction: column;
}

.bar-h,
%bar-h {
  @extend %list-h;

  align-items: center;
}

.bar-v,
%bar-v {
  @extend %list-v;

  align-items: center;
}

.wrap,
%wrap {
  flex-wrap: wrap;
}
