.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.auto-min-width {
  min-width: auto;
}

.in-parent-width {
  max-width: 100%;
}

.match-parent {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.match-parent-to-top {
  left: 0px;
  top: 0px;
  right: 0px;
}

.match-parent-height {
  height: 100%;
}

.match-parent-width {
  width: 100%;
}

.match-parent-size {
  @extend .match-parent-height;
  @extend .match-parent-width;
}

.scroll-auto {
  overflow: auto;
}

.scroll-x-hidden {
  overflow-x: hidden;
}

.scroll-x-auto {
  overflow-x: auto;
}

.scroll-x-always {
  overflow-x: scroll;
}

.scroll-y-hidden {
  overflow-y: hidden;
}

.scroll-y-auto {
  overflow-y: auto;
}

.scroll-y-always {
  overflow-y: scroll;
}

.scroll-performance {
  will-change: scroll-position, transform;
}

.no-paddingh {
  padding-left: 0rem;
  padding-right: 0rem;
}

.no-paddingv {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.no-paddinghv {
  @extend .no-paddingh;
  @extend .no-paddingv;
}

.no-paddingvh {
  @extend .no-paddinghv;
}

.no-padding {
  @extend .no-paddinghv;
}

.padding-left {
  padding-left: var(--size-gap);
}

.padding-right {
  padding-right: var(--size-gap);
}

.padding-top {
  padding-top: var(--size-gap);
}

.padding-bottom {
  padding-bottom: var(--size-gap);
}

.padding {
  @extend .padding-left;
  @extend .padding-right;
  @extend .padding-top;
  @extend .padding-bottom;
}

.padding-left-wide {
  padding-left: var(--size-gap-wide);
}

.padding-right-wide {
  padding-right: var(--size-gap-wide);
}

.padding-top-wide {
  padding-top: var(--size-gap-wide);
}

.padding-bottom-wide {
  padding-bottom: var(--size-gap-wide);
}

.padding-wide {
  @extend .padding-left-wide;
  @extend .padding-right-wide;
  @extend .padding-top-wide;
  @extend .padding-bottom-wide;
}

.container {
  padding: var(--size-pad);
}

.container-border-radius {
  @extend .border-radius;
}

.contenth {
  padding-left: calc(var(--size-gap) * 0.5);
  padding-right: calc(var(--size-gap) * 0.5);
}

.contentv {
  padding-top: calc(var(--size-gap) * 0.5);
  padding-bottom: calc(var(--size-gap) * 0.5);
}

.contenthv {
  @extend .contenth;
  @extend .contentv;
}

.contentvh {
  @extend .contenthv;
}

.perspective {
  perspective: 50rem;
}

.childh {
  margin-left: calc(var(--size-gap) * 0.5);
  margin-right: calc(var(--size-gap) * 0.5);
}

.childv {
  margin-top: calc(var(--size-gap) * 0.5);
  margin-bottom: calc(var(--size-gap) * 0.5);
}

.childhv {
  @extend .childh;
  @extend .childv;
}

.childvh {
  @extend .childhv;
}

.no-marginh {
  margin-left: 0rem;
  margin-right: 0rem;
}

.no-marginv {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.no-marginhv {
  @extend .no-marginh;
  @extend .no-marginv;
}

.no-marginvh {
  @extend .no-marginhv;
}

.margin-left {
  margin-left: var(--size-gap);
}

.margin-right {
  margin-right: var(--size-gap);
}

.margin-top {
  margin-top: var(--size-gap);
}

.margin-bottom {
  margin-bottom: var(--size-gap);
}

.margin-left-narrow {
  margin-left: calc(var(--size-gap) * 0.5);
}

.margin-right-narrow {
  margin-right: calc(var(--size-gap) * 0.5);
}

.margin-top-narrow {
  margin-top: calc(var(--size-gap) * 0.5);
}

.margin-bottom-narrow {
  margin-bottom: calc(var(--size-gap) * 0.5);
}

.margin-left-wide {
  margin-left: var(--size-gap-wide);
}

.margin-right-wide {
  margin-right: var(--size-gap-wide);
}

.margin-top-wide {
  margin-top: var(--size-gap-wide);
}

.margin-bottom-wide {
  margin-bottom: var(--size-gap-wide);
}

.size-data-label {
  min-width: var(--size-cell);
  max-width: var(--size-cell);
}

.squared {
  @extend .border;
  height: var(--size-squared);
  width: var(--size-squared);
}