aside,
body,
button,
div,
figure,
footer,
h1,
h2,
h3,
h4,
input,
image,
label,
li,
nav,
p,
span,
th,
ul {
  color: inherit;
  font: inherit;
  margin: 0px;
  padding: 0px;
}

pre {
  white-space: pre-wrap;
}
