.mat-drawer {
  border-right: solid 1px $clr-primary;
}

.mat-drawer-container {
  background-color: $clr-transparent;

  &.position-absolute {
    @extend %position-absolute;
  }
}

.mat-drawer-container .mat-drawer-content {
  @extend %position-absolute;
  @extend %match-parent;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .mat-sidenav-content-below-toolbar {
    @extend %position-relative;

    flex: 1 0 auto;

    .mat-scrollable-content {
      @extend %position-absolute;
      @extend %match-parent;

      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
.mat-option-text {
  display: block;
}

.mat-mdc-select {
  min-height: 1.7rem;
}

@mixin mat-item-size($size) {
  font-size: $size;
  height: $size;
  width: $size;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
.mat-card-shadow {
  box-shadow:
    0 3px 1px -2px fade-out(#000, 0.8),
    0 2px 2px 0 fade-out(#000, 0.86),
    0 1px 5px 0 fade-out(#000, 0.88);
}

/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.mat-icon,
.material-icons,
.mat-input-prefix .material-icons {
  &.mat-icon-size-smaller,
  &%mat-icon-size-smaller {
    @include mat-item-size($size-icon-height * 0.75);
  }

  &.mat-icon-size-small {
    @include mat-item-size($size-icon-height * 0.6);
  }

  &.mat-icon-size-smallest {
    @include mat-item-size($size-icon-height * 0.45);
  }
}

.mat-mdc-mini-fab {
  &.mat-mini-fab-size-smaller {
    @include mat-item-size($size-mini-fab-height * 0.75);

    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-button-wrapper {
      padding: 0;
      display: block;
    }

    .mat-icon {
      @extend %mat-icon-size-smaller;

      margin-top: -0.3rem;
    }
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-mdc-list[dense] .mat-mdc-list-item .mat-list-text > * {
  &.childv {
    @extend %childv;
  }

  &.childh {
    @extend %childh;
  }

  &.childhv {
    @extend %childhv;
  }

  &.childvh {
    @extend %childvh;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-list-auto-height {
  &.mat-mdc-list .mat-mdc-list-item {
    height: auto;

    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    .mat-list-item-content {
      min-height: 4.8rem;
      height: auto;
    }
  }

  &.mat-mdc-list[dense] .mat-mdc-list-item {
    height: auto;

    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
    .mat-list-item-content {
      min-height: 2.75rem;
      height: auto;
    }
  }
}

.minimize-height {
  &.mat-mdc-form-field {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-underline,
    .mat-form-field-subscript-wrapper {
      display: none;
    }

    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-infix {
      @extend %contentv;

      border-top: 0;
    }
  }
}

.toolbar-column {
  &.mat-toolbar-single-row {
    flex-direction: column;
    padding: 16px 0;
    height: 100%;
    width: 64px;

    .mat-nav-list {
      display: flex;
      flex-direction: column;

      .mat-mdc-button {
        padding: 8px 16px;
      }
    }
  }
}

.mat-mdc-button,
.mat-mdc-fab,
.mat-mdc-icon-button,
.mat-mdc-mini-fab,
.mat-mdc-raised-button,
.mat-mdc-select {
  &.auto-line-height {
    @extend %auto-line-height;
  }

  &.auto-min-width {
    @extend %auto-min-width;
  }

  &.no-padding {
    @extend %no-padding;
  }

  &.inline-button {
    @extend %auto-line-height;
    @extend %auto-min-width;
    @extend %no-padding;
  }

  &.dense {
    height: auto;
    font-size: var(--size-font-smaller);
    line-height: var(--size-font-h1);
  }

  &.overspan {
    width: 100%;
    text-align: center;
  }
}

.no-infix {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-infix {
    padding-top: 0;
    border-top-width: 0;
  }
}

.mat-mdc-card {
  &.transition-background-color {
    @extend %transition-background-color;
  }
}

.mat-mdc-menu-item {
  &.dense {
    height: auto;
    text-align: center;
    font-size: var(--size-font-smaller);
    line-height: var(--size-font-h1);
  }
}

.mat-nav-list {
  > .mat-mdc-button {
    &.active {
      font-weight: bold;
    }
  }
}

.mat-sidenav-toggle-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: 0;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.mat-sidenav-toggle {
  padding: 0 1.4rem;
  color: fade-out(#fff, 0.13);
}

.mat-sidenav {
  min-width: 10rem;
  max-width: 20rem;
  padding: 1rem;
}

.mat-step-label-selected {
  :not(.mat-step-optional) {
    font-style: italic;
  }
}

.mat-mdc-tab-group.min-tab-header-size {
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  .mat-tab-label {
    height: auto;
    min-width: auto;
    padding: 1rem 1.2rem;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-body-content {
  position: relative;
}

.mat-toolbar {
  &.mat-toolbar-single-row {
    .mat-nav-list {
      padding-top: 0;
    }
  }
}

.mat-toolbar-filler {
  flex: 1 1 auto;
}

.mat-mdc-tooltip {
  font-size: var(--size-font-smaller);
}

/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.mat-input-save-subspace {
  margin-bottom: var(--size-gap-bottom-table-column-input);
}

/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.mat-input-prefix {
  .material-icons {
    font-size: 1.5em;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.mat-input-suffix {
  .material-icons {
    font-size: 1.5em;
  }
}

.font-table-input {
  /* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
  .mat-input-wrapper,
  .mat-select-trigger {
    font-weight: normal;
    font-size: var(--size-font-small);
  }
}

.min-width-auto,
%min-width-auto {
  min-width: auto;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.min-width-auto .mat-select-trigger {
  @extend %min-width-auto;
}

.width-date-input {
  min-width: 13rem;
  max-width: 13rem;
}

.width-shorter-input {
  min-width: 10rem;
  max-width: 10rem;
}

.width-short-input,
%width-short-input {
  min-width: 5rem;
  max-width: 5rem;
}

.width-short-month,
%width-short-month {
  @extend %width-short-input;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.width-short-month .mat-select-trigger {
  @extend %width-short-month;
}

.width-short-year,
%width-short-year {
  min-width: 6rem;
  max-width: 6rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.width-short-year .mat-select-trigger {
  @extend %width-short-year;
}

.font-inherit,
%font-inherit {
  font-size: inherit;
  line-height: inherit;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.font-inherit .mat-select-trigger {
  @extend %font-inherit;
}

.height-inherit,
%height-inherit {
  height: inherit;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.height-inherit .mat-select-trigger {
  @extend %height-inherit;
}

$clr-dark-bg: #1e1e1e;
$clr-dark-bg-lightee: lighten($clr-dark-bg, 15);
$clr-dark-bg-lighter: lighten($clr-dark-bg, 20);
$clr-dark-bg-lighted: lighten($clr-dark-bg, 25);
$clr-dark-fg: #d4d4d4;
$clr-dark-fg-fadee: fade-out($clr-dark-fg, 0.25);
$clr-dark-fg-fader: fade-out($clr-dark-fg, 0.5);
$clr-dark-fg-faded: fade-out($clr-dark-fg, 0.75);

.theme-dark {
  .mat-drawer {
    background-color: $clr-dark-bg;
    color: $clr-dark-fg;
  }

  .mat-drawer-content {
    background-color: $clr-dark-bg;
    color: $clr-dark-fg;
  }

  .mat-mdc-list .mat-mdc-subheader,
  .mat-nav-list .mat-subheader,
  .mat-selection-list .mat-subheader {
    color: $clr-dark-fg-fadee;
  }

  .mat-mdc-list .mat-mdc-list-item,
  .mat-nav-list .mat-list-item,
  .mat-selection-list .mat-list-item {
    color: $clr-dark-fg;
  }

  .mat-divider {
    border-top-color: $clr-dark-fg-fader;
  }

  .mat-mdc-card {
    background-color: lighten($clr-dark-bg, 15);
    color: $clr-dark-fg;

    &:not([class*='mat-elevation-z']) {
      box-shadow:
        0 3px 1px -2px fade-out(#fff, 0.8),
        0 2px 2px 0 fade-out(#fff, 0.86),
        0 1px 5px 0 fade-out(#fff, 0.88);
    }
  }

  .ui-widget-header {
    color: $clr-dark-fg;
  }
}
