:host {
  display: flex;
  flex-flow: row wrap;
  place-content: flex-start;
  align-items: flex-start;

  > :nth-child(1n) {
    margin: var(--size-gap);
  }

  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-content {
    display: flex;
    flex-direction: column;
  }

  p {
    display: flex;
    align-items: center;

    > :nth-child(1n + 1) {
      margin-left: var(--size-gap);
    }
  }
}
