<ng-container *ngIf="theme$ | async as theme">
  <ng-container *ngIf="data$ | async as data">
    <div
      class="position-absolute match-parent"
      [style.border]="'1px solid ' + (colorBorder$ | async)"
      [style.backgroundColor]="colorField$ | async"
    >
      <div ddFlexbox="hyscsw" class="position-absolute match-parent">
        <ng-container *ngIf="colorsEntities$ | async as colorsEntities">
          <div
            *ngFor="let colorEntity of colorsEntities; trackBy: trackBy"
            [style.margin]="'1%'"
            [style.width]="'23%'"
            [style.height]="'23%'"
            [style.backgroundColor]="colorEntity"
          ></div>
          <div
            *ngIf="colorActor$ | async as colorActor"
            [style.margin]="'1%'"
            [style.width]="'23%'"
            [style.height]="'23%'"
            [style.backgroundColor]="colorActor"
            [style.borderRadius]="'50%'"
          ></div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
